@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


::root {
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}


li {
    list-style: none;
}


/* ---------------- HEADER --------------- */

.header {
    background-color: #444;
    margin-bottom: 100px;
    container-name: header;
    container-type: inline-size;
}

.navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding-inline: 2rem;
}

#menu-hamburguer {
    display: none;
}

#menu-hamburguer:checked+.ul_links {
    height: calc(100vh - 80px);
}

.list_icon {
    cursor: pointer;
}

.navbar img {
    width: 35px;
}

.ul_links {
    width: 100%;
    background-color: #222;
    position: absolute;
    left: 0;
    top: 80px;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: 0.4s;
}


.link {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
}


/* ------- NAV DESKTOP ---------*/


@container header (min-width: 768px) {
    .label_hamburger {
        display: none;
    }

    .ul_links {
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
        background-color: transparent;
    }

    .link {
        font-size: 1.2rem;
        transition: all .3s;
    }
}

.container {
    text-align: center;
    margin: auto;
    width: clamp(20dvw, 60dvw, 80dvw);
}


/* ------------ SECTION HOME ----------- */

.section-home>div {
    border: 1px solid #999;
    padding: 40px;
    text-align: center;
    width: 60dvw;
    margin: auto;
}

.section-home div h1 {
    font-size: 3rem;
    padding-bottom: 30px;
}


.section-home div p {
    padding-bottom: 35px;
}


.section-home div>div {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.section-home div button {
    padding: 16px 27px;
    cursor: pointer;
    border: 1px solid #222;
    background-color: transparent;
    font-size: 20px;
    transition: 1s;
}

.section-home div button a {
    color: #000;
}


.section-home div button:hover {
    border-radius: 20px;
}

/* ------------- SECTION HOME MOVIL -------------- */

@media (max-width: 600px) {

    .section-home div {
        width: 90dvw;
    }

    .section-home div h1 {
        font-size: 2rem;
    }

    .section-home div p {
        font-size: 10px;
    }

    .section-home div>div {
        width: auto;
        gap: 20px;
    }


    .section-home div button {
        font-size: 13px;
    }
}




/* ---------------- SECTION SIGNUP --------------- */


.section-signup {
    border: 1px solid #999;
    width: clamp(300px, 30dvw, 80dvw);
}


.section-signup form {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 30px;
    padding: 40px;
}

.section-signup form h1 {
    font-size: 2rem;
    padding: 10px;
}

.section-signup form label {
    padding: 20px;
}

.section-signup form label input {
    width: clamp(30px, 160px, 160px);
}

.section-signup form button {
    width: 100px;
    height: 50px;
    background-color: #222;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 15px;
    font-size: 1rem;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
}


.section-signup form button:hover {
    border: 1px solid #222;
    background-color: transparent;
    color: #222;
}



/* ---------------- SECTION SIGNIN ------------- */


.section-signin {
    border: 1px solid #999;
    max-width: 500px;
}



.section-signin form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}


.section-signin form h1 {
    font-size: 2rem;
    padding: 10px;
}

.section-signin form label {
    padding: 25px;
}

.section-signin form button {
    width: 100px;
    height: 50px;
    background-color: #222;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 15px;
    font-size: 1rem;
    transition: 0.3s;
    cursor: pointer;
}


.section-signin form button:hover {
    border: 1px solid #222;
    background-color: transparent;
    color: #222;
}


/* -------------- SECTION TASKS_PENDING ----------- */

.section-task_pending {
    padding: 30px;
}

.section-task_pending h1 {
    font-size: 2rem;
    padding-bottom: 20px;
}


.section-task_pending ul {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.section-task_pending ul li {
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 20px;
    border: 1px solid #999;
    margin: 10px;
    gap: 100px;
}

.taskpending-title {
    font-size: 1.3rem;
}

.important {
    background-color: #222;
    color: #fff;
}

.important a {
    padding: 8px 10px;
    margin-right: 10px;
    border-radius: 10px;
    color: #fff;
    border: 1px solid #fff;
    transition: 0.4s;
}

.important a:hover {
    background-color: #fff;
    color: #222;
}

.notimportant a {
    padding: 8px 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #222;
    color: #fff;
    transition: 0.4s;
}


.notimportant a:hover {
    background-color: #fff;
    border: 1px solid #222;
    color: #222;
}

/* ------------ SECTION TASKS PENDING MOVIL  ---------- */

@media (max-width: 500px) {
    .section-task_pending ul li {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .notimportant a, .important a {
        margin: 0;
    }
}

/* ------------ SECTION TASKS COMPLETED ---------- */



.section-task_completed {
    padding: 30px;
}

.section-task_completed h1 {
    font-size: 2rem;
    padding-bottom: 40px;
}

.section-task_completed ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: auto;
}


.section-task_completed ul li {
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 20px;
    border: 1px solid #999;
    margin: auto;
    gap: 140px;
}


.section-task_completed ul li a {
    padding: 8px 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    background-color: #222;
    color: #fff;
    transition: 0.4s;
}


.section-task_completed ul li a:hover {
    background-color: #fff;
    border: 1px solid #222;
    color: #222;
}

/* ----------- SECTION COMPLETED TASK ---------- */

@media (max-width: 500px) {

    .section-task_completed ul li {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}


/* ----------- SECTION CREATE TASK ---------- */



.section-create {
    border: 1px solid;
    max-width: 700px;
    padding: 30px;
}


.section-create h1 {
    font-size: 2rem;
    padding-bottom: 20px;
}

.section-create form {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.section-create form label input,
textarea {
    height: 40px;
    font-size: 1rem;
    padding: 10px;
}

.form-create {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 10px;
}

#description {
    height: 70px;
    font-family: 'Poppins';
}

.checkbox {
    height: 70px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 1.2rem;
}

.checkbox input {
    width: 20px;
}


.section-create form button {
    padding: 15px 30px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #222;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
    font-size: 0.8rem;
}

.section-create form button:hover {
    background-color: #fff;
    color: #222;
    border: 1px solid #222;
}

/* ------------ SECTION CREATE TASK MOVIL ------------- */

@media (max-width: 500px) {

    .form-create {
        width: 200px;
    }

    #title {
        width: 140px;
    }

    #description {
        width: 170px;
    }
}



/* ------------ SECTION TASK DETAIL ------------- */


.section-task_detail {
    display: flex;
    max-width: 700px;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 1px solid;
}

.section-task_detail p {
    padding: 20px;
}

.section-task_detail form button {
    padding: 15px 30px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #222;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
    font-size: 0.8rem;
    margin: 10px;
}

.section-task_detail form button:hover {
    background-color: #fff;
    color: #222;
    border: 1px solid #222;
}


/*  ------------ SECTION DETAIL MOVIL ----------- */



@media (max-width: 500px) {

    .form-create {
        width: 200px;
    }

    #title {
        width: 140px;
    }

    #description {
        width: 170px;
    }

}