<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD</title>
</head>

<body>

    {% extends 'layouts/base.html' %}

    {% block content %}

    <section class="container section-home">
        <h1>Django App</h1>

        <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum similique quia consequuntur sunt
            consectetur animi, nulla minima ipsam quam suscipit beatae, nihil ut saepe nobis laborum impedit tempora
            commodi dolor! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum aliquam quo placeat? Soluta
            dolorem at aspernatur ipsa porro quia culpa nostrum eligendi voluptatibus possimus unde quo aut hic eius,
            rerum, autem provident quod laborum ullam consequatur dolor neque dicta fuga similique. Distinctio animi
            eius voluptatum. Placeat pariatur dolor delectus quos ipsam tempore eos, facilis ratione ut dignissimos
            cumque iusto quia dicta ipsum quibusdam velit perspiciatis repellat provident consequuntur quasi! Neque
            corporis asperiores facere repudiandae nulla illo. Nulla facilis sit vitae modi necessitatibus voluptatum
            voluptatem excepturi nostrum cumque dolorum, provident perspiciatis ab tempora impedit voluptas quasi?
            Necessitatibus dignissimos optio consequuntur aspernatur.</p>
            <div>
                <button><a href="/signin">Signin</a></button>
                <button><a href="/signup">Signup</a></button>
            </div>
    </section>


    {% endblock %}

</body>

</html>